/* .header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo{
  width: 130px;
}

.nav-items > ul{
display: flex;
font-size: 24px;
}

.nav-items > ul > li {
padding: 10px;
margin: 10px;
list-style-type: none;
}

.res-card{
  width: 250px;
  background-color: #f0f0f0;
  padding: 5px;
  margin: 10px;
}

.res-card:hover{
  border: 1px solid black;
  cursor: pointer;
}

.rescardimage{
  width: 90%;
}

.search{
  padding: 10px;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
}

.filter-btn{
  margin: 10px;
  display: flex;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card{
  height: 400px;
  width: 200px;
  background-color: #f0f0f0;
  margin: 20px;
}

.logoutbutton{
  margin: 10px;
  width: 80px;
  cursor: pointer;
}
 */


@tailwind base;
@tailwind components;
@tailwind utilities;